/*header*/
.container{
	width: 100%;
	height: 200px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
 .logo{
 	height: 200px;
 }
 .flex{
 	display: flex;
 	align-items: center;
	justify-content: space-around;
 }
 .nav-ul{
	display: flex;
}
.nav-li{
	margin-left: 50px;
	font-size: 50px;
}

.emhyr{
	height: 200px;
}
/*header*/

.div-container{
	display: flex;
	margin-left: 10px;
}
.geralt{
	height:450px;
	display: flex;
}
.text-box{
	width: 310px;
	height: 450px;
}
.text1{
	margin-top: 9px;
	margin-left: 5px;
	color: white;
	
}
.section-flex{
	display: inline-block;
	margin-top: 5px;
}
.ciri{
	height: 450px;
	
}
.yen{
	height: 450px
}
/*panorama*/
.panop{
	height: 500px;
	width: 100%;
}
.image {
	margin-top: 5px;
	position: relative;
	width	: 100%;
}
.pano-text {
	font-size: 70px;
	position: absolute;
	top: 50px;
	left: 300px;
}
/*panorama*/

/*game-pharagraph*/
.games{
	max-width: 1920px;
	width: 100px;
	font-size: 30px;
	color: white;
	margin-left: 50px;
	margin-top: 10px;
}
/*/pharagraph*/
.just{
	margin-top: 10px;
}
.white-line{
	max-width: 1810px;
	width: 100%;
	height: 1px;
	background-color: white;
	margin: 0 auto;
	margin-top: 10px;

}
/*game-wraper*/
.games-wraper{
	display: flex;
 	align-items: center;
	justify-content: space-around;
	margin-top: 15px;
}
.throne{
	height: 300px;
}

/*game-wraper*/

/*footer*/
.footerCon{
	max-width: 1920px;
	width: 100%;
	height: 250px;
	background-color: #000000;
	margin-top: 15px;
}
.footer-ul{
	display: flex;
	font-size: 20px;
}
.footer-li{
	margin-left: 30px;
}
.witcherF{
	width: 180px;
	margin-left: 150px;
}
.footer1{
	max-width: 460px;
	margin: 0 auto;
}
/*footer*/

body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	height: 100%; 

}
span{
	color:aqua;
	font-size: 18px;
}
a{
color: #FC8A10;
}

@media(max-width: 1150px){
	.nav-ul{
		flex-wrap: wrap;

	}
}
@media(max-width: 635px){
	.div-container{
		flex-wrap: wrap;

	}
}
@media(max-width: 1360px){
	.games-wraper{
		flex-wrap:wrap; 
	}
}